@mixin h1 {
  font-weight: 450;
  font-size: 56px;
  font-family: CircularStd, sans-serif;
  line-height: 1;
}

@mixin h2 {
  font-weight: 450;
  font-size: 44px;
  font-family: CircularStd, sans-serif;
  line-height: 1.14;
}

@mixin h3 {
  font-weight: 450;
  font-size: 28px;
  font-family: CircularStd, sans-serif;
  line-height: 1.29;
}

@mixin h4 {
  font-weight: 450;
  font-size: 24px;
  font-family: CircularStd, sans-serif;
  line-height: 1.33;
}

@mixin h5 {
  font-weight: 450;
  font-size: 20px;
  font-family: CircularStd, sans-serif;
  line-height: 1.5;
}

@mixin p-20 {
  font-weight: 400;
  font-size: 20px;
  font-family: Inter, sans-serif;
  line-height: 1.5;
}

@mixin p-18 {
  font-weight: 400;
  font-size: 18px;
  font-family: Inter, sans-serif;
  line-height: 1.56;
}

@mixin p-16 {
  font-weight: 400;
  font-size: 16px;
  font-family: Inter, sans-serif;
  line-height: 1.5;
}

@mixin p-14 {
  font-weight: 400;
  font-size: 14px;
  font-family: Inter, sans-serif;
  line-height: 1.43;
}

@mixin p-13 {
  font-weight: 400;
  font-size: 13px;
  font-family: Inter, sans-serif;
  line-height: 1.4;
}

@mixin btn-big {
  font-weight: 500;
  font-size: 18px;
  font-family: Inter, sans-serif;
  line-height: 1.56;
}

@mixin btn-small {
  font-weight: 500;
  font-size: 16px;
  font-family: Inter, sans-serif;
  line-height: 1.5;
}
